<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News for {{keywordtext}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'wiki/css/style.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <title>{{categorylabel}}</title>
</head>
<body>
    <div class="container">
        <h1>News about '{{keywordtext}}'</h1>
            {% if keywordtext.news.all %}
            {% for news in keywordtext.news.all %}
            <div class="well well-sm">
                <h3><a href={{news.url}}>{{news.title}}</a></h3>
                    <hr>
                    Source: {{news.source}}
                    Type: {{news.type}}
                    <hr>
                    {{news.description}}
                    <hr>
                    Published: {{news.date}}
                    <hr>
                </div>
            {% endfor %}
            {% else %}
            <h1>Sorry we dont have News</h1>
            {% endif %}
    </div>
</body>
</html>